<!DOCTYPE html>

<head>
    <title>Calculator App</title>
    <style>
        .bigBlueButton{
            font-size: 24px;
            background-color: #008CBA;
        }

    </style>
</head>

<body>
    <div class="container">
        <!-- <div>
            Put Stuff Here?: <input type="text" name="nameStuff" id="idStuff" />
        </div> -->

        Special Buttons?:
        <button class="btn btn-call-to-action" id="calculate_button">Calculate</button>
        <button class="btn btn-primary">Test Button?</button>

        <div>
            Big Blue Button:
            <button class = "bigBlueButton" id="submit_button">Submit</button>
        </div>

    </div>

    <script src="/js/script.js"></script>
</body>

</html>