<!DOCTYPE html>

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>

<body>
    <div class="container">
        <div class="wrapper">
            Put Stuff Here?: <input type="text" name="nameStuff" id="idStuff" />
        </div>

        <button class="btn btn-call-to-action">Calculate how much you can get</button>
        <button class="btn btn-primary">Submit</button>

        <div id="songs_div"></div>
    </div>

    <script src="js/script.js"></script>
</body>

</html>