<!DOCTYPE html>

<head>
    <title>Calculator App</title>
    <meta charset="UTF-8">
    <style>
        .bigBlueButton{
            font-size: 24px;
            width: 90px;
            background-color: #008CBA;
        }

    </style>
</head>

<body>
    <div class="container">
        <!-- <div>
            Put Stuff Here?: <input type="text" name="nameStuff" id="idStuff" />
        </div> -->

        Special Buttons?:
        <button type="button" class="btn btn-success">Success</button>
        <button class="btn btn-default" type="submit">Button</button>
        <button class="btn btn-primary">Test Button?</button>
        <button class="btn btn-call-to-action" id="call_to_action">Call to action button</button>
        
        <p>&nbsp</p>
        
        <div>
            <!-- <button class="btn btn-call-to-action" id="calculate_button">/</button> -->
            <button class = "bigBlueButton" id="add_button"> + </button>
            <button class = "bigBlueButton" id="subtract_button"> - </button>
            <button class = "bigBlueButton" id="multiply_button"> * </button>
            <button class = "bigBlueButton" id="divide_button"> / </button>
            <table class="wb-charts wb-charts-bar table" data-flot='{ "yaxis": { "max": 150000} }'>
        </div>

        <div>
            <input type = "text"  id="operandField1" name = "operandField1"  value="" size = "30" />
            <input type = "text"  id="operandField2" name = "operandField2"  value="" size = "30" />

            <div id = "answer-area" value = "Answer: "></div>
        </div>
    </div>

    <script src="/js/script.js"></script>
</body>

</html>